<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab3.Properties.Settings.QLSVNhomConnectionString"
            connectionString="Data Source=DESKTOP-A79AAA6\MSSQLSERVER01;Initial Catalog=QLSVNhom;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>